@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 15px;
  color: hsl(219, 12%, 42%);
}

#container {
  width: 90%;
  margin: 0 auto;
}

header {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 20px;
  color: hsl(224, 21%, 14%);
}

h1 span {
  background-color: hsl(219, 85%, 26%);
  color: white;
  padding: 3px 7px;
  border-radius: 5px;
}

h2 {
  font-size: inherit;
  font-weight: 400;
}

h2 a {
  color: hsl(219, 12%, 42%);
}

h2 a:hover {
  color: hsl(219, 85%, 26%);
}

img {
  width: 40px;
  height: 40px;
}

.img-container {
  object-fit: cover;
}

.notification-msg {
  display: flex;
  margin-bottom: 10px;
  padding: 15px;
  box-sizing: border-box;
}

.notification-msg div:nth-child(2) {
  margin-left: 10px;
}

.user-name a{
  color: hsl(224, 21%, 14%);
  font-weight: 800;
}

a {
  text-decoration: none;
}

.group a {
  color: hsl(219, 85%, 26%);
  font-weight: 600
}

.post a {
  color: hsl(219, 12%, 42%);
  font-weight: 800;
}

a:hover {
  cursor: pointer;
}

.private-message {
  border: hsl(205, 30%, 90%) 1px solid;
  margin: 10px 0;
  padding: 15px 10px 15px 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

.private-message p {
  text-align: left;
}

.private-message:hover{
  background-color: hsl(205, 33%, 90%);
}

.unread-msg {
  background-color: hsl(210, 68%, 98%);
  border-radius: 10px;
}

.unread-msg .red-bullet::before {
  content: "•";
  color: red;
  margin-left: 10px;
  font-size: 20px;
}

.chess-img{
  margin-left: 5px;
}


/****Larger device****/
@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.3rem;
  }

  #container {
    max-width: 1000px;
  }
  
   .attribution{
     font-size: 15px;
   }
}
